@charset "utf-8";

/* 共通（全体に関わる部分） */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #534741;
}


a {
  color: inherit;
  text-decoration: none;
}

img {
    height: auto;
  vertical-align: bottom;
}

.wrapper {
  width: 960px;
  margin: auto;

}

.section {
  margin-top: 80px;
}

.section_title {
  font-family: serif;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

/* ボタン */

.button_wrapper {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.button {
  display: flex;
  align-items: center;
  background: #604335;
  color: #fff;
  padding: 10px 30px;
  border-radius: 5px;
  transition: opacity 0.3s;
}


.button:hover {
  opacity: 0.5;
}

/* 回答参照箇所 */
.button::after{
    content:"";
    display: block;
    width: 0.5em;
    height: 0.5em;
    border-right: 2px solid;
    border-bottom: 2px solid;
    transform: rotate(-45deg);
    margin-left: 0.5em;
    }

/* ヘッダー */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.header_logo {
  width: 300px;
}

/* グローバルナビゲーション */
.gnav_list {
  display: flex;
}

.gnav_item {
  border-right: 1px solid;
}

.gnav_item:last-child {
  border-right: none;
}

.gnav_link {
  padding: 10px 20px;
  transition: opacity 0.3s;
}

.gnav_link:hover {
  opacity: 0.5;
}

/* フッター */
.footer {
  background: #604335;
  color: #fff;
  padding: 40px;
}

.fnav_list {
  display: flex;
  justify-content: center;
}

.fnav_item {
  border-right: 1px solid;
}

.fnav_item:last-child {
  border-right: none;
}

.fnav_link {
  padding: 10px 20px;
  transition: opacity 0.3s;
}

.fnav_link:hover {
  opacity: 0.5;
}

.footer_copy {
  font-size: 13px;
  text-align: center;
  margin-top: 60px;
}


/* HOMEページ */
/* メインビジュアル */
.main_visual {
  width: 100%;
}

.gdtion{
  background: -moz-linear-gradient(65deg, rgba(255, 190, 44, 0.4), rgba(255, 44, 171, 0.7)),url(../images/pic.jpg);
  background: -webkit-linear-gradient(65deg, rgba(255, 190, 44, 0.4), rgba(255, 44, 171, 0.7)),url(../images/pic.jpg);
  background: linear-gradient(25deg, rgba(255, 190, 44, 0.4), rgba(255, 44, 171, 0.7)),url(../images/pic.jpg);
  background-size:cover;
}

/* 新着情報 */
.home_news_content {
  display: flex;
  padding: 15px 0;
  border-top: 1px solid #b8a392;
}

.home_news_content:last-of-type{
  border-bottom: 1px solid #b8a392;
}

.home_news_date {
  width: 130px;
}

/* 商品紹介 */
.home_product_contents {
  display: flex;
  justify-content: space-between;

}

.home_product_content {
  width: 31%;
  position: relative;
  /* フレックスアイテムの場合は flex-basis でも可能 */
}

.home_product_img {
  width: 100%;
}

.home_product_name {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 10px 0;
}

/* 解答例参照 */
.mark_limited {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #c25c5c;
    color: #fff;
    width: 3em;
    height: 3em;
    border-radius: 1.5em;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(25%) translateY(-25%);
}



/* 店舗情報 */
.home_shop_contents {
  display: flex;
  justify-content: space-between;
}

.home_shop_img {
  width: 31%;
  /*
    background-image: url(../image/shop_image.jpg);
    background-position: center;
    background-size: cover;
    */
  background: url(../image/shop_image.jpg) center / cover;
}

.home_shop_table {
  width: 65%;
}

.home_shop_table_header {
  font-weight: bold;
  background: #faf6f4;
  border: 1px solid #b8a392;
  padding: 10px 20px;
}

.home_shop_table_data {
  border: 1px solid #b8a392;
  padding: 10px 20px;
}




/* 商品紹介ページ */
/* 自力 */
.product1 {
  width: 100%;
}

.box {
  width: 100%;
  position: relative;
}

.box p{
  position: absolute;
  top: 0;
  left: 0;
  color: #534741;
  font-family: serif;
  font-size: 25px;
  text-align: center;
  border-bottom: 1px solid;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%); /* 追記 */
  -webkit-transform: translate(-50%, -50%); /* 追記 */
  transform: translate(-50%, -50%); /* 追記 */
}



/* 商品紹介ページ */

.header_product_contents {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom :-50px;
}

.header_product_content {
  width: 31%;
  margin-bottom: 50px;
  
}

.header_product_img {
  width: 100%;
}

/* 回答参照 */
.product_name_and_price{
    display: flex;
    justify-content: space-between;

}

.header_product_name,
.product_price{
  margin: 10px 0;
  font-size: 20px;
  font-weight: bold;
}



.product_price::first-letter{
    font-size: 16px;
  
}


/* ニュースページ*/

.news1 {
  width: 100%;
}

.news_contents_wrap {
  display: flex;
  justify-content: space-between;
}

.news_contents {
  width: 610px;
}

.news_content {
  margin-top: 40px;
}

.news_content:first-child {
  margin-top: 0;
}

.news_link {
  display: flex;
  justify-content: space-between;
  transition: 0.3s opacity;
}

.news_link:hover {
  opacity: 0.5;
}

.news_img_wrap {
  width: 30%;
}

.news_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news_info {
  width: 67%;
  
}

.news_title {
  font-style: 20px;
  font-weight: bold;
  margin: 5px 0;
  
}

.pagination {
  margin-top: 40px;

}

.pagination_list {
  display: flex;
  justify-content: center;
}

.pagination_item {
  margin-left: 15px;
}

.pagination_item:first-child {
  margin-left: 0;
}

.pagination_link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid;
  transition: opacity 0.3s;
}

.pagination_link:hover {
  opacity: 0.5;
}


.pagination_next::before {   
content: '';
  display: block;
  width: 0.5em;
  height: 0.5em;
  border-right: 2px solid;
  border-bottom: 2px solid;
  transform: rotate(-45deg);
}

/* サイドバー */
.sidebar {
  width: 300px;
}

.recent_title {
  background: #604335;
  color: #fff;
  font-style: 18px;
  font-weight: normal;
  text-align: center;
  padding: 0.2em;
}

.recent_list {
  background: #faf6f4;
  padding: 1.2em;
  list-style: none;
}

.recent_item {
  padding: 1em 0;
  border-top: 1px solid #b8a392;
}

.recent_item:first-child {
  padding-top: 0;
  border-top: none;
}

.recent_item:last-child {
  padding-bottom: 0;
}

.recent_link {
  display: flex;
  justify-content: space-between;
  transition: opacity 0.3s;
}

.recent_link:hover {
  opacity: 0.5;
}

.recent_img_wrap {
  width: 30%;
  height: 75px;
}

.recent_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.recent_text {
  width: 67%;
}

/* お問い合わせページ */

.form_contact1 {
    width: 100%;

}

.form_section {
    position: relative;
    width: 100%;
  }

  span {
  position: absolute;
  top: 0;
  left: 0;
  color: #534741;
  font-family: serif;
  font-size: 25px;
  text-align: center;
  border-bottom: 1px solid;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%); /* 追記 */
  -webkit-transform: translate(-50%, -50%); /* 追記 */
  transform: translate(-50%, -50%); /* 追記 */
  
}

.form_contact {
    width: 100%;
    height: 850px;
  }
  スマホ用
